<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formats in Media - Documentation of DGM 2341 by Kam Black</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Formats in Media - Documentation of DGM 2341</h1>
    <p class="subtitle">by Kam Black</p>

    Introduction

    <section id="audio-formats">
        {% include "01--audio-formats.html" %}
    </section>

    <section id="video-formats">
        {% include "02--video-formats.html" %}
    </section>

    <section id="image-formats">
        {% include "03--image-formats.html" %}
    </section>

    <section id="asset-management">
        {% include "04--asset-management.html" %}
    </section>

    <section id="evaluation">
        {% include "05--format-evaluation.html" %}
    </section>
    
    <section id="implementation">
        {% include "06--implementation.html" %}
    </section>
</body>
</html>