<h2>Audio Formats</h2>

<p>When exploring different audio formats, we have to consider how these files are played and how they are worked with professionally, including the hardware and software involved. Audio files are commonly played by everything from the humble MP3 player to the newest, fanciest TVs, smartphones, VR headsets and more. While most consumer tech can support most file formats, support for a particular format is not a given, and this should be considered when files are produced.</p>

<p>Most professional equipment for working with audio files has a wide range of format and codec support, though it can depend on the operating system running the software. Common programs for working with audio vary depending on the use case, but include Avid Pro Tools, Apple Logic Pro X, Ableton Live, Adobe Audition, and Audacity to name a few.</p>

<h3>WAV (Waveform Audio File Format)</h3>
<p class="subtitle">1991 / Microsoft and IBM</p>
<p class="subtitle">.wav .wave</p>

<p>This format is derived from the RIFF format, and contains uncompressed audio. It is mainly used for and by Windows. Being lossless and widely supported, it is well used as source audio, so you might use this as part of a project and package the finished product in a more compressed format. It tends to be too large a size for general use.</p>

<h3>AIFF (Audio Interchange File Format)</h3>
<p class="subtitle">1988 / Apple Inc.</p>
<p class="subtitle">.aiff .aif .aifc</p>

<p>This format is based on Electronic Art’s IFF format, and is used on Apple computers to contain uncompressed audio. Similar to WAV, you might use it as a source, but being lossless, it will likely be too large to feasibly share without recoding it to something smaller. However, there is a variant of this format that supports compression, using the .aifc extension.</p>

<h3>Apple Lossless</h3>
<p class="subtitle">2004 / Apple Inc.</p>
<p class="subtitle">.m4a .caf</p>

<p>Apple Lossless, known colloquially as ALAC, is another lossless format developed by Apple, and mainly used on Apple devices. The main difference between ALAC and AIFF, another lossless format from Apple, is that ALAC makes use of compression to achieve a smaller file size. ALAC files tend to be much smaller, although because a player has to decompress the file to play it, they take more processing power and there is less support overall.</p>

<h3>MP3 (MPEG-1/2 Audio Layer III)</h3>
<p class="subtitle">1993 / Moving Picture Experts Group et al</p>
<p class="subtitle">.mp3</p>

<p>Developed as part of the MPEG collection of format specifications, this common file format is a lossy, compressed audio format that can achieve much smaller file sizes than WAV or AIFF. It does this by finding parts of the waveform that are generally imperceptible, then approximating them or tossing out the data entirely. Due to it’s small file sizes and it’s wide-ranged support, it is a prime method for sharing audio across the Internet.</p>

<h3>AAC (Advanced Audio Coding)</h3>
<p class="subtitle">1997 / Moving Picture Experts Group et al</p>
<p class="subtitle">.m4a .mp4 .3gp .m4b .m4p .m4r .m4v .aac</p>

<p>Originally created as part of the MPEG-2 specification and later updated in as part of MPEG-4, this lossy, compressed format improved on MP3 in both quality and size. It also allows codecs more flexibility than MP3 does. AAC still competes with MP3, and while it’s not quite as widely supported, it is still very widely supported, and provides more options for the final file than MP3 does. Apple devices make use of additional containers, with different file extensions, such as .m4p for DRM-protected files, .m4b for audiobooks, and .m4r for ringtones.</p>

<h3>WMA (Windows Media Audio)</h3>
<p class="subtitle">~2007 / Microsoft</p>
<p class="subtitle">.wma .asf</p>

<p>This is a lossy format, created by Microsoft to compete with MP3. It is generally used for streaming music, but has a couple of variants. One allows for a lossless codec, another is intended for speech audio, and another allows for a lossy codec supporting high-resolution files. WMA is the audio part of a larger file container spec called the Advanced Systems Format, used commonly on Windows.</p>

<h3>Ogg</h3>
<p class="subtitle">1997 / Xiph.Org Foundation</p>
<p class="subtitle">.ogg .oga .spx .opus</p>

<p>Ogg is a container format that, unlike most other formats, is open and not subject to patents or other code ownership legalities. The audio portion of the format allows for a variety of codecs, including Speex (for speech audio), Opus (small, lossy files), and FLAC (a lossless codec), among others. It’s wide array of possible codecs make it a viable candidate for many different applications, though its playback support is not as wide-spread as other formats.</p>