<h2>Video Formats</h2>

<p>Video formats have more work to do than other file types covered so far. Not only do they have to carry audio, but also video as a sequence of images and sometimes text for subtitles. Most of the audio formats already covered are used as part of a larger recipe here.</p>

<p>When looking at support for video formats, you have to consider hardware like computers, phones, DVD players, TVs, etc. When working with these files, you might see programs like Adobe Premiere Pro, Final Cut Pro X, Avid Media Composer, or even iMovie.</p>

<h3>AVI (Audio Video Interleave)</h3>
<p class="subtitle">1992 / Microsoft</p>
<p class="subtitle">.avi</p>

<p>Developed by Microsoft, this container format will support just about any codec for video or audio out there. However, this is an old format, and has been largely replaced by far more efficient container formats like Ogg or MP4.</p>

<h3>QuickTime File Format</h3>
<p class="subtitle">1998 / Apple</p>
<p class="subtitle">.mov .qt</p>

<p>Created by Apple for use in the QuickTime framework, this format was eventually extended into the basis for the MP4 format. This format is easily usable by most Windows and Mac computers, though there is not as much support as there is for MP4, an international standard.</p>

<h3>MP4 (MPEG-4 Part 14)</h3>
<p class="subtitle">2003 / ISO &amp; Moving Picture Experts Group</p>
<p class="subtitle">.mp4 .m4v .m4p</p>

<p>MP4 was created as part of the MPEG-4 spec as a format that could contain video and audio as well as text, for subtitles. While .mp4 is the only official file extension, others are supported on certain systems, for example .m4v and .m4p on Apple devices, with the latter supporting DRM (digital rights management) protection.</p>

<h3>Ogg Video</h3>
<p class="subtitle">1997 / Xiph.Org Foundation</p>
<p class="subtitle">.ogg .ogv</p>

<p>As covered earlier in the audio section, Ogg is a container format that allows for a variety of codecs, not just for audio, but for video as well. Some video codecs that are supported include Theora (lossy), Dirac (lossy or lossless), and Daala (lossy or lossless). All the audio codecs mentioned in the audio section will work as well.</p>

<h3>Flash Video</h3>
<p class="subtitle">2003 / Macromedia, now Adobe Systems</p>
<p class="subtitle">.flv .f4v</p>

<p>This is the format that was used for playing animations created in Flash. While the older .flv format is outdated, the newer .f4v format is more widely supported. Most .f4v files use the H.264 codec for the video, so if a Flash Video of this type is unsupported, it is possible to change the extension to .mp4 for wider support.</p>

<h3>WMV (Windows Media Video)</h3>
<p class="subtitle">2006 / Microsoft</p>
<p class="subtitle">.wmv</p>

<p>WMV was created as the video counterpart to WMA (for audio) and based on the same compression techniques. It has a regular video variant, but also a variant called a WMA Image that is essentially a slideshow video of static images. WMV can also optionally support DRM protection.</p>

<h3>WebM</h3>
<p class="subtitle">2010 / Google, with On2, Xiph, and Matroska</p>
<p class="subtitle">.webm</p>

<p>WebM is a multimedia container format, open-sourced with a BSD license. It was sponsored by Google and is intended for use on the web. To handle the file compression, WebM supports the VP8 and VP9 video codecs and the Opus and Vorbis audio codecs. It is supported in Chromium-based browsers as well as Firefox, though it is not supported on Mac or iOS devices natively.</p>